.App {
  text-align: center;
}
.red{
  color: red;
}
.bold{
  font-weight: bold;
}
.button{
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background-color: lightgreen;
  color: black;
}